/.vs/
/.git/
/MainProject/GUI/.vs/
/MainProject/GUI/App/AS_DEBUG/
/MainProject/GUI/App/example/
/MainProject/GUI/App/json/

*.exe
*_log.html
*.user

/MainProject/GUI/Intermediate/KosenProcon32-GUI_unit/Debug/*
/MainProject/GUI/Intermediate/KosenProcon32-GUI_unit/Release/*
/MainProject/Computation/x64/Debug/*
/MainProject/Computation/x64/Release/*
!libcurl.dll
!libcurl-d.dll
